<ion-header>
  <ion-toolbar no-border color="light">
    <ion-title class="ion-text-left">Registra tu Plato</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="cerrarPlato()" color="principal">
        <ion-icon name="restaurant" slot="start"></ion-icon>
        Cancelar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides mode="ios" pager="false" [options]="slideOpts" class="slide-full">
    <ion-slide class="form">
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <ion-card>
              <ion-card-header>
                <ion-card-title>Plato DeliC</ion-card-title>
              </ion-card-header>
              <ion-card-content center>
                <div class="container">
                  <form #formulario="ngForm" (ngSubmit)="registrarPlato()">
                    <ion-list>
                      <ion-item class="items">
                        <!-- <span
                          *ngIf="formulario.submitted && formulario.controls['primerNombre'].errors"
                          >El Nombre es obligatorio</span
                        > -->
                        <ion-label position="floating"
                          >Nombre <span style="color: red;">*</span></ion-label
                        >
                        <ion-input
                          type="text"
                          name="nombrePlato"
                          [(ngModel)]="nombre"
                          (onchange)="primerFormulario(formulario)"
                          required
                          minleght="3"
                        ></ion-input>
                      </ion-item>

                      <ion-item class="items">
                        <!-- <span
                          *ngIf="formulario.submitted && formulario.controls['primerApellido'].errors"
                          >El Apellido es obligatorio</span
                        > -->
                        <ion-label position="floating"
                          >Precio <span style="color: red;">*</span>
                        </ion-label>
                        <ion-input
                          type="number"
                          name="precioPlato"
                          [(ngModel)]="precio"
                          (onChange)="primerFormulario(formulario)"
                          required
                        ></ion-input>
                      </ion-item>
                      <ion-item class="items">
                        <!-- <span
                          *ngIf="formulario.submitted && formulario.controls['segundoNombre'].errors"
                          >El Segundo Nombre es obligatorio</span
                        > -->
                        <ion-label position="floating"
                          >Ingredientes
                          <!-- <span style="color: red;">*</span> -->
                        </ion-label>
                        <ion-textarea
                          name="ingredientesPlato"
                          [(ngModel)]="ingredientes"
                          minleght="3"
                          (onchange)="primerFormulario(formulario)"
                        >
                        </ion-textarea>
                      </ion-item>
                      <br />
                    </ion-list>
                  </form>
                </div>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>

    <ion-slide class="form">
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <ion-card>
              <ion-card-header>
                <ion-card-title>Plato DeliC</ion-card-title>
              </ion-card-header>
              <ion-card-content center>
                <div class="container">
                  <form #formulario="ngForm" (ngSubmit)="registrarPlato()">
                    <ion-list>
                      <ion-item class="items">
                        <!-- <span
                          *ngIf="formulario.submitted && formulario.controls['segundoNombre'].errors"
                          >El Segundo Nombre es obligatorio</span
                        > -->
                        <ion-label position="floating"
                          >Descripción
                          <span style="color: red;">*</span>
                        </ion-label>
                        <ion-textarea
                          name="descripcionPlato"
                          [(ngModel)]="descripcion"
                          minleght="3"
                          (onchange)="segundoFormulario(formulario)"
                          required
                        >
                        </ion-textarea>
                      </ion-item>
                      <br />
                      <ion-button
                        (click)="registrarPlato()"
                        expand="block"
                        shape="round"
                        color="secundario"
                      >
                        Registrar mi Plato
                      </ion-button>
                    </ion-list>
                  </form>
                </div>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>
</ion-content>
