<!-- <ion-header>
  <ion-toolbar>
    <ion-title>local</ion-title>
  </ion-toolbar>
</ion-header> -->

<app-header titulo="Mi Local"></app-header>

<ion-content>
  <ion-card>
    <ion-card-title class="ion-text-center" color="principal"
      ><h4>{{local.nombre}}</h4></ion-card-title
    >
  </ion-card>

  <ion-card
    ><br />
    <ion-card-subtitle class="ion-text-center"
      >Descripción del Local</ion-card-subtitle
    >

    <ion-grid fixed>
      <ion-row>
        <ion-col size="12">
          <ion-card-content>
            {{local.descripcion}}
          </ion-card-content>
        </ion-col>
        <ion-col size="12">
          <ion-card-subtitle class="ion-text-left" id="codigo"
            >Código QR del Local</ion-card-subtitle
          >
          <br />
          <ngx-qrcode [(qrc-value)]="url" [qrc-element-type]="tipo">
          </ngx-qrcode>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-card>
    <ion-grid fixed>
      <ion-row>
        <ion-col size="10">
          <ion-button (click)="mostrarRegistro()" color="secundario">
            <ion-icon slot="icon-only" name="add"></ion-icon>
            Añadir Plato
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <!-- <div *ngIf="platos !== null"> -->
  <ion-card *ngFor="let plato of platos">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="11">
          <ion-card-title>{{plato.nombre}}</ion-card-title>
        </ion-col>
        <ion-col size="11">
          <ion-card-subtitle
            ><ion-label>$</ion-label>{{plato.precio}}</ion-card-subtitle
          >
        </ion-col>
        <ion-col size="12">
          <ion-card-content>
            {{plato.descripcion}}
          </ion-card-content>
        </ion-col>
        <ion-col size="8" class="ion-text-right">
          <ion-button
            (click)="mostrarOpinion(plato.nombre)"
            expand="block"
            fill="clear"
            shape="round"
          >
            Opinar sobre el Plato
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <!-- </div> -->
</ion-content>
